.map-view {
  height: 100vh;
  width: 100%;
}

.custom-popup {
  position: absolute;
  top: 20px;
  right: 20px;
  background: white;
  padding: 12px;
  border-radius: 6px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
  z-index: 10;
}


.custom-popup h3 {
  margin-top: 0;
  color: #333;
}
